<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial scale=1">
  <title>Weather Journal</title>
</head>

<body>
  <div id = "app">

    <h1 class ="holder headline">
      Travel Planner
    </h1>

    <button class = "print">Print this trip</button> <!--onclick="window.print()"-->

    <div class ="holder city">
      <label for="city">Enter city here</label>
      <input type="text" id="city" placeholder="Your Destination" required>
    </div>

    <div class ="holder feel">
      <label for="departure">Enter Departure date: MM/DD/YYYY</label>
      <input type="date" class="myInput" id="departure" name="trip-start" value="2020-10-01" min="2020-01-01" max="2021-12-31"> <!--Consider using input type=date for your date input in the HTML form. You will thank yourself as a developer -- it makes adding dates way easier-->
      <button id="generate" type = "submit"> Generate </button>
    </div>

    <button class ="saveBtn" id ="save">Save Trip</button>
    <button class ="deleteBtn" id ="delete">Remove Trip</button>

    <div class ="holder entry">
      <div class ="title">Most Recent Entry</div>
        <div id = "entryHolder">
        <div id= "image"></div>
        <div id = "temp"></div>
        <div id = "trip"></div>
        <div id = "date"></div>
        <div id = "desc"></div>
        <div id = "icon"></div>
        <div id = "country"></div>
        <div id = "departureDay"></div>
        <div id = "region"></div>
        <div id = "language"></div>
        <div id = "currency"></div>
      </div>
    </div>

    <div id="myDIV" class="header">
      <h2>My To Do List <span class="dropdown">&#10010;</span> </h2>
      <div id="myDropdown">
        <input type="text" id="myInput" placeholder="Enter a ToDo Item">
        <span class="addBtn">Add</span>
        <ul id="myUL"></ul>
      </div>
    </div>

  </div>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
</body>
</html>