body{
    background: pink;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-areas:
        "heading"
        "holderCity"
        "holderDate"
        "holder"
        "header"
        "save"
        "remove"
        "print";
    grid-template-columns: 1fr;
    grid-gap: 10px;
    background: pink;
    color: black;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    grid-area: heading;
}

.entry {
    grid-area: holder;
}

.print {
    grid-area: print;
}

.saveBtn {
    grid-area: save;
}

.deleteBtn {
    grid-area: remove;
}

.city {
    grid-area: holderCity;
}

.myDate {
    grid-area: holderDate;
}

.header {
    grid-area: header;
}

.entry{
    background: rgba(59, 74, 107, .4);
}

.myDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.city {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 17px;
    font-weight: bold;
}

input:not(#myInput){
    display:block;
    height: 50px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

#myInput {
    display:block;
    background:#22b2da;
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    height: 50px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;

    &:hover {
        background: cadetblue;
    }

    &:visited {
        background: fuchsia;
    }
}

h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

.title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
}

.images {
    max-width: 100%;
    height: auto;
}